/*

COMPRESSOR qui compresse le mieux ce CSS
https://cssminifier.com/

*/
/*
coolors.co
	
#003366		DARK MIDNIGHT BLUE		rgba(0, 51, 102, 1);
#738FAB		SHADOW BLUE
#E7ECF1		GLITTER
			#fff
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
html {
	font-size: 1em;
}
*, .pure-g [class *= "pure-u"] {
	font-family: Lato, sans-serif;
	font-size: 1.1rem;
	line-height: 1.5em;
	margin: 0; padding: 0;
	color: #333;
	font-weight: 400;
}

p, li, h1, h2, h3, h4 {
	margin-bottom: 1rem;
	padding: 0;
}
ul {
}
ul li {
	margin-left: 1.2rem;
}
.note {
	font-size: 0.8rem;
}
h2 ,
#page h1 {
	font-size: 1.75rem;
	font-weight: 300;
}
h3 {
	font-size: 1.00rem;
}
a {
	text-decoration: none;
	color: #003366;
	font-weight: 600;
	border-bottom: 2px solid #003366;
}
a.telephone {
	border-bottom: 0;
	color: #333;
}
strong, .highlight {
	/* background-color: #FFFFBF; */
	border-color: rgba(0, 51, 102, 0.25);
	border-width: 0;
	border-style: solid;;
	padding : 0.05em 0.25em;
	font-size: inherit;
	font-weight: 400;
	color: #000;
	box-shadow: 0 0 0.75rem 0 rgba(51, 51, 51, 0.2);
}
hr {
	border: none;
	height: 1px;
	background: #ccc;
	margin: 1.5rem 0; /* MOITIÉ de l'espace vertical entre sections */
}
a.pure-button,
a.pure-button:link,
a.pure-button:visited,
a.pure-button:active {
	font-size: 0.85rem;
	display: block;
	transform: rotate(-5.00deg);
	float: right;
	margin-top: 1.00rem;
	font-weight: 400;
	background: #fff;
	border-color: transparent;
	border-radius: 2.00rem;
	padding: 0.75rem 1.00rem;
	box-shadow: 0 0 1.00rem 0 rgba(51, 51, 51, 0.2);
}
a.pure-button:link,
a.pure-button:visited {
	
}

/**/
header {
	position: fixed;
	z-index: 99; 
	width: 100%;
	padding: 0;
	background: #003366;
}
/**/
#topbar {
	padding-top: 0.75rem; /* impact sur [#page padding-top] */
	padding-bottom: 1.25rem; /* impact sur [#page padding-top] */
	padding-left: 1.50rem;
	padding-right: 1.50rem;
	box-shadow: 0 0 1.00rem 0 rgba(51, 51, 51, 0.2);
	background: #fff;
}
#topbar.expanded {
	background: #003366;
	padding-top: 4.50rem;
	box-shadow: none;
}
#topbar.expandMe {
  transition: all 0.50s ease-in 0s;
}
/**/
#topbar.expanded a.logo{
	height: 3.00rem;
	float: none;
}
a.logo {
	height: 2.50rem; /* impact sur [#page padding-top] */
	display: block;
	border: none;
}
a.logo svg {
	height: 100%;
	display: block;
	margin: 0 auto;
}
a.logo svg * {
	fill: #036;
}
#topbar.expanded a.logo svg * {
	fill: #fff;
}
/**/
section, footer {
	padding: 3rem 1.5rem; /* 3rem = espace vertical entre sections */
}
/**/
#intro {
	z-index: 1; position: relative;
	padding-top: 12rem; 
	padding-bottom: 6rem;
	background: #003366;
	color: #fff;
	text-align: center;
}
#intro * {
	color : #fff;
	font-size: 1.75rem;
	margin-bottom: 0;
}
#intro .intro {
}
#intro h1 {
	margin: 0;
	font-weight: 300;
}
#intro p {
	margin-top: 0;
	font-weight: 300;
}
#intro span#typed-strings {
	display: block;
	font-weight: 300;
}
/**/
.services {
	background : #738FAB;
}
.services h2, .services p {
	color: #fff;
}
.services.impair {
	background : #E7ECF1;
}
.services.impair h2, .services.impair p {
	color: #356;
}
.services.impair a.pure-button:link,
.services.impair a.pure-button:visited {
	margin-right : 0;
}
.services.impair a.pure-button:hover,
.services.impair a.pure-button:active {
}
.services div.icon {
	text-align: center;
	margin-bottom: 2.00rem;
}
.services div.icon svg {
	fill: #E7ECF1;
	margin: auto auto;
}
.services.impair div.icon svg {
	fill: #738FAB;
}
.services div.icon svg {
	height: 8rem;
}
#software.services div.icon svg {
}
#webapps.services div.icon svg {
}
#mobileapps.services div.icon svg {
}
#databases.services div.icon svg {
}
#ms-access.services div.icon svg {
}
/**/
div#team {
	padding-top: 3.00rem;
}
div#team .team-member {
	margin: 3.00rem 0; /* 3rem = espace vertical entre sections */
	margin-bottom: 4.50rem;
}
div#team .team-member.last {
	margin-bottom: 1.50rem;
}
div#team .team-member.first {
	margin-top: 1.50rem;
}
div#team .team-member .description {
	margin: auto 0;
}
div#team p {
	text-align: right;
	font-size: 0.90rem;
	margin-bottom: 0;
}
div#team .impair p {
	text-align: left;
}
div#team p span.name {
	padding-bottom : 1.50rem;
	display: block;
}
div#team div.photo {
	display: none; /* voir media queries */
}
/**/
#page {
	padding-top: 4.50rem; /* [#topbar padding-top] + [#topbar padding-bottom] + [a.logo height] */
}
.cta {
	background-color: rgba(0, 51, 102, 0.025);
	padding: 1.50rem;
	margin-top: 2.50rem;
	box-shadow: 0 0 1.00rem 0 rgba(51, 51, 51, 0.2);
}
.cta p {
	/* display: flex;
	flex-direction: column;
	align-items: stretch;*/
	font-weight: 400;
	color: #000;
}
.cta .tick {
	font-size: 1.75rem;
	font-weight: 300;
	color: #738FAB;
}

/**/
footer {
	background: #003366; 	
}
footer * {
	color : #fff;
	font-size: 0.9rem;
}
footer a {
	border: none;
	font-weight: 400;
}
footer hr {
	background: #738FAB;
}
footer div.address span {
	display: block;
}
footer div.address span.description {
	font-size: 1.10rem;
}
footer div.address span.addressCountry,
footer div.address span.postalCode,
footer div.address span.addressLocality {
	display: inline;
}
footer div.address span.addressRegion {
	display: none;
}
footer div.address span.email a,
footer div.address span.telephone a {
	opacity: 1.00;
	font-size: 1.50rem;
	display: block;
	text-align: left;
}















/* sm ≥ 568px */
@media screen and (min-width: 35.5em) {
	header #topbar,
	section, footer {
		padding-left: 2.00rem;
		padding-right: 2.00rem;
	}
	h2 ,
	#page h1 {
		font-size: 1.90rem;
	}
	#topbar.expanded {
		/* padding-top: 4.50rem; */
	}
	#topbar.expanded a.logo {
		/* height: 3.00rem; */
	}
	a.logo {
		/*height: 2.50rem; */
	}
	/**/
	#intro {
	}
	#intro * {
		font-size: 1.90rem;
	}
	.services div.icon {
		display: none;
	}	
	div#team div.photo {
		display: block; /* hidden in mobile */
		margin: auto 0;
	}
	div#team div.photo .photo {
	    border-radius: 50%;
	    height: 9rem;
	    width: 9rem;
	    display: block;
	    float: left;
	    margin-left: 3rem;
	    margin-right: 0;
		background-color: #E7ECF1;
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
	div#team div.photo.impair .photo {
	    float: right;
		margin-left: 0;
	    margin-right: 3rem;
	}
	div#team div.photo .polo {
		background-image: url(../img/insolus_team_polo.jpg);
	}
	div#team div.photo .rachel {
		background-image: url(../img/insolus_team_rachel.jpg);
	}
	div#team div.photo .donovan {
		background-image: url(../img/insolus_team_donovan.jpg);
	}
	div#team div.photo .paul {
		background-image: url(../img/insolus_team_paul.jpg);
	}
	div#team div.photo .ruben {
		background-image: url(../img/insolus_team_ruben.jpg);
	}
	div#team div.photo .giuseppe {
		background-image: url(../img/insolus_team_giuseppe.jpg);
	}
	div#team div.photo .alan {
		background-image: url(../img/insolus_team_alan.jpg);
	}
	div#team div.photo .vincent {
		background-image: url(../img/insolus_team_vincent.jpg);
	}
	/**/
	footer .address hr {
		display: none;
	}
	footer div.telephone {
		text-align: center;
		margin-bottom: 1.5rem;
	}
	footer div.tessin {
		text-align: right;
		margin-top: 0;
	}
	footer div.address span.email a,
	footer div.address span.telephone a {
		text-align: center;
	}
	footer div.address span.email a {
		margin-bottom: 1.5rem;
	}
}

/* md ≥ 768px */
@media screen and (min-width: 48em) {
	header #topbar,
	section, footer {
		padding-left: 3.00rem;
		padding-right: 3.00rem;
	}
	/**/
	#topbar.expanded {
		/* padding-top: 4.50rem; */
	}
	#topbar.expanded a.logo {
		height: 3.50rem
	}
	a.logo {
		height: 3.50rem;
		float: left;
	}
	/**/
	section {
		padding-top: 6.00rem;
		padding-bottom: 6.00rem;
	}
	#page {
		padding-top: 5.50rem; /* [#topbar padding-top] + [#topbar padding-bottom] + [a.logo height] */
	}
	hr {
		margin: 3.00rem 0; /* MOITIÉ de l'espace vertical entre sections */
	}
	/**/
	#intro {
	}
	#intro * {
		font-size: 2.50rem;
	}
	/**/
	.services.pair {
		display: flex;
		flex-direction: row-reverse;
	}
	.services div.icon {
        display: block; /* hidden in mobile */
		margin: auto 0;
    }
    .services.impair div.icon {
    }
    .services.pair div.icon {
    }
    .services div.description {
		display: block;
		margin: auto 0;
	}
	.services.impair div.description {
    	float: right;
	}
    .services.pair div.description {
    	float: left;
		text-align: right;
	}
    .services div.icon svg {
    	height: 12.00rem;
	}
    .services.impair div.icon svg {
	}
	.services.pair div.icon svg {
	}
	#webapps.services div.icon svg {
	}
	#mobileapps.services div.icon svg {
	}
	#databases.services div.icon {
    	text-align: right;
	}
	#databases.services div.icon svg {
    	height: 11.00rem;
	}
	#ms-access.services div.icon svg {
	}
    /**/
    div#team p {
		font-size: 1rem;
	}
    div#team div.photo .photo {
	    height: 12rem;
	    width: 12rem;
	}
	div#team div.photo.impair .photo {
	}
}

/* lg ≥ 1024px */
@media screen and (min-width: 64em) {
	header #topbar,
	section, footer {
		padding-left: 4.00rem;
		padding-right: 4.00rem;
	}
	#intro {
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 15rem; /* pour centrer l'intro topbar.padding-top + topbar.padding-bottom + .logo.height + intro.padding-bottom */
		padding-bottom: 6rem;
	}
	section, footer {
	}
	.services div.icon {
    }
    .services.impair div.icon {
		text-align: right;
    }
    .services.pair div.icon {
		text-align: left;
    }
    .services div.description {
	}
	.services.impair div.description {
    	float: none;
	}
    .services.pair div.description {
    	float: none;
		text-align: right;
	}
    .services div.icon svg {
    	height: 12.00rem;
	}
	#software.services.impair div.icon svg {
    	margin-right: 2.00rem; /* à cause des étoile dans l'icones qui font du vide, on réduit l'espace*/
	}
    .services.impair div.icon svg {
    	margin-right: 3.00rem;
	}
	.services.pair div.icon svg {
		margin-left: 3.00rem;
	}
	#webapps.services div.icon svg {
		height: 14.00rem;
	}
	#mobileapps.services div.icon svg {
		height: 16.00rem;
	}
	#databases.services div.icon {
    	text-align: left;
	}
	#databases.services div.icon svg {
    	height: 14.00rem;
	}
	#ms-access.services div.icon svg {
	}
}


/* xl ≥ 1280px */
@media screen and (min-width: 80em) {
	header #topbar,
	section, footer {
		padding-left: 5.00rem;
		padding-right: 5.00rem;
	}
	#topbar.expanded {
		padding-top: 5.50rem;
	}
	#topbar.expanded a.logo {
		height: 4.50rem
	}
	a.logo {
		/* height: 3.50rem;*/
	}
}

/* ≥ 1440px */
@media screen and (min-width: 90em) {
	header #topbar,
	section, footer {
		padding-left: 7.00rem;
		padding-right: 7.00rem;
	}
}

/* ≥ 1600px */
@media screen and (min-width: 100em) {
	header #topbar,
	section, footer {
		padding-left: 9.00rem;
		padding-right: 9.00rem;
	}
}

/* ≥ 1760px */
@media screen and (min-width: 110em) {
	header #topbar,
	section, footer {
		padding-left: 11.00rem;
		padding-right: 11.00rem;
	}
}

/* ≥ 1920px */
@media screen and (min-width: 120em) {
	header #topbar,
	section, footer {
		padding-left: 13.00rem;
		padding-right: 13.00rem;
	}
}