/*=======================================================
  #breakpoints mixin
=========================================================*/

/* =================================EXAMPLE=====================*/

/* ===============================mobile-first==================*/

/* ==================================only========================*/

/* ===============================large-first======================*/

/*=========================================================
  #outline $ outline-offset
=========================================================*/

/* =================================EXAMPLE=====================*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.95);
  background-color: #fff;
}

a {
  cursor: pointer;
  color: #000000;
}

a:hover,
a:focus {
  color: #1a1a1a;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f0ebf4;
}

input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='search']::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #f0ebf4;
}

input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #f0ebf4;
}

input[type='text']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='search']:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #f0ebf4;
}

textarea {
  resize: vertical;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

h4 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

h5 {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
}

h6 {
  margin: 0;
  font-weight: 600;
  font-size: 10px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  cursor: pointer;
}

a :active,
a :hover,
a :focus,
a:link :active,
a:link :hover,
a:link :focus,
a:visited :active,
a:visited :hover,
a:visited :focus,
a:focus :active,
a:focus :hover,
a:focus :focus,
a:hover :active,
a:hover :hover,
a:hover :focus,
a:active :active,
a:active :hover,
a:active :focus {
  outline: 0;
  outline-offset: 0;
}

p {
  font-family: "Nunito", sans-serif;
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button,
.account-btn-login,
.account-btn-signup,
.invite-btn {
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.button :active,
.account-btn-login :active,
.account-btn-signup :active,
.invite-btn :active,
.button :hover,
.account-btn-login :hover,
.account-btn-signup :hover,
.invite-btn :hover,
.button :focus,
.account-btn-login :focus,
.account-btn-signup :focus,
.invite-btn :focus {
  outline: 0;
  outline-offset: 0;
}

.account-btn-login {
  min-width: 91px;
  min-height: 35px;
  border-radius: 5px;
  border: solid 2px #8500d1;
  background-color: #ffffff;
  padding: 2px 14px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #8500d1;
  white-space: nowrap;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease;
  transition: background-color 0.6s ease, color 0.6s ease;
  margin-right: 9px;
}

.account-btn-login:hover,
.account-btn-login:focus,
.account-btn-login:active {
  color: #ffffff;
  background-color: #8500d1;
}

.account-btn-signup {
  min-width: 91px;
  min-height: 35px;
  border-radius: 5px;
  border: solid 2px #d10085;
  background-color: #d10085;
  padding: 2px 14px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.account-btn-signup:hover,
.account-btn-signup:focus,
.account-btn-signup:active {
  color: #d10085;
  background-color: #ffffff;
}

.invite-btn {
  background-color: #ffffff;
  min-height: 57px;
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.9px;
  text-align: center;
  color: #d10085;
  border: none;
  padding: 10px 46px;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.invite-btn:hover,
.invite-btn:focus,
.invite-btn:active {
  color: #ffffff;
  background-color: #d10085;
}

video {
  width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

/*=========================================================
   #PADDING & MARGIN
=========================================================*/

/*=======================================================================================*/

/*======================================ALL SCREEN=======================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*======================================SMALL-DOWN=======================================*/

/*=======================================================================================*/

.main {
  padding-top: 50px;
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.header .header-container {
  position: relative;
  z-index: 100;
  background-color: #ffffff;
  padding: 5px 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  -webkit-box-shadow: 0 0 3.9px 0.1px rgba(36, 36, 36, 0.4);
  box-shadow: 0 0 3.9px 0.1px rgba(36, 36, 36, 0.4);
}

.header .logo-container {
  width: 107px;
  height: 41px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.nav-container {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 17px 0 0;
}

.nav-list .nav-item:not(:last-child) {
  margin-right: 17px;
}

.nav-list .nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.45px;
  color: #a591b2;
  white-space: nowrap;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.nav-list .nav-link:active {
  color: #8500d1;
}

.nav-list .nav-link.accent {
  font-style: italic;
  letter-spacing: -0.45px;
  color: #d10085;
  padding: 2px 14px;
  border-radius: 5px;
  border: dotted 3px #00b1e4;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}

.nav-list .nav-link.accent:hover,
.nav-list .nav-link.accent:focus,
.nav-list .nav-link.accent:active {
  background-color: #00b1e4;
  border-color: #d10085;
  color: #ffffff;
}

.user-name-container {
  margin: 0 15px 0 24px;
  text-align: center;
  max-width: 175px;
  overflow: hidden;
}

.user-name-container .user-t1 {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -0.4px;
  color: #776881;
}

.user-name-container .user-t2 {
  display: block;
  font-family: "Lobster", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #8600d0;
  white-space: nowrap;
}

.user-img-container {
  display: block;
  width: 23px;
  height: 30px;
}

.user-img-container .user-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.hamb-btn {
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  width: 32px;
  height: 24px;
  border: none;
  padding: 0;
  background: url("../img/hmb.png") 50% 50% no-repeat;
  background-size: contain;
}

.hamb-btn :active,
.hamb-btn :hover,
.hamb-btn :focus {
  outline: 0;
  outline-offset: 0;
}

.hamb-btn.open {
  background: url("../img/hmb-close.png") 50% 50% no-repeat;
  background-size: contain;
}

.user-xs-img-container {
  display: block;
  width: 23px;
  height: 30px;
}

.user-xs-img-container .user-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.xs-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 0 0;
}

.xs-nav:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #d10085 0%, #b00c84 100%);
  opacity: 0.7;
}

.xs-nav.open {
  display: block;
}

.xs-nav .xs-nav-body {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.xs-nav .xs-nav-body-container {
  padding: 15px;
  background-color: #ffffff;
}

.xs-nav .xs-nav-list {
  list-style: none;
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 2px #d8d8d8;
}

.xs-nav .xs-nav-list .nav-item:not(:last-child) {
  margin-bottom: 5px;
}

.xs-nav .xs-nav-list .nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 2.14;
  letter-spacing: -0.53px;
  color: #a591b2;
  white-space: nowrap;
}

.xs-nav .xs-nav-list .nav-link:hover,
.xs-nav .xs-nav-list .nav-link:focus,
.xs-nav .xs-nav-list .nav-link:active {
  color: #8500d1;
}

.xs-nav .xs-nav-list .nav-link.accent {
  font-style: italic;
  letter-spacing: -0.45px;
  color: #d10085;
  padding: 10px 32px;
  border-radius: 5px;
  border: dotted 3px #00b1e4;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}

.xs-nav .xs-nav-list .nav-link.accent:hover,
.xs-nav .xs-nav-list .nav-link.accent:focus,
.xs-nav .xs-nav-list .nav-link.accent:active {
  background-color: #00b1e4;
  border-color: #d10085;
  color: #ffffff;
}

.xs-nav .play-containers {
  margin-bottom: 25px;
}

.xs-nav .play-container {
  width: 216px;
  height: 56px;
  border-radius: 2.5px;
  -webkit-box-shadow: 0 0 3.9px 0.1px rgba(36, 36, 36, 0.2);
  box-shadow: 0 0 3.9px 0.1px rgba(36, 36, 36, 0.2);
  background-image: linear-gradient(85deg, #fffeff, #ffc8f3);
}

.xs-nav .play-container:not(:last-child) {
  margin-bottom: 9px;
}

.xs-nav .play-container .play-icon {
  width: 100%;
  height: 100%;
}

.xs-nav .xs-soc-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xs-nav .xs-soc-list-item:not(:last-child) {
  margin-right: 14px;
}

.xs-nav .xs-soc-list-iconbox {
  width: 45px;
  height: 45px;
}

.xs-nav .xs-soc-list-iconbox .xs-soc-list-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.footer {
  background-color: #ee1d47;
  min-height: 241px;
  background-image: linear-gradient(315deg, #d10085, #b00c84);
}

.footer .footer-container {
  padding: 24px 15px 14px;
}

.mslider,
.sign-slider {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  /* Arrows */
}

.mslider.slick-initialized,
.sign-slider.slick-initialized {
  opacity: 1;
}

.mslider .slick-dots,
.sign-slider .slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.mslider .slick-dots li,
.sign-slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
  font-size: 0;
}

.mslider .slick-dots li button,
.sign-slider .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.mslider .slick-dots li button:hover,
.mslider .slick-dots li button:focus,
.sign-slider .slick-dots li button:hover,
.sign-slider .slick-dots li button:focus {
  outline: none;
}

.mslider .slick-dots li button:hover:before,
.mslider .slick-dots li button:focus:before,
.sign-slider .slick-dots li button:hover:before,
.sign-slider .slick-dots li button:focus:before {
  opacity: 0.5;
}

.mslider .slick-dots li button:before,
.sign-slider .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50%;
  opacity: 0.23;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mslider .slick-dots li.slick-active button:before,
.sign-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #ffffff;
}

body.modalintscroll-visible {
  overflow: hidden;
}

.modal,
.modalintscroll {
  display: none;
}

body.modal-visible {
  overflow: hidden;
}

.vanilla-modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.5s, z-index 0s 0.5s;
  transition: opacity 0.5s, z-index 0s 0.5s;
}

.vanilla-modal .modalintscroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.5s, z-index 0s 0.5s;
  transition: opacity 0.5s, z-index 0s 0.5s;
}

.modal-visible .modal {
  z-index: 200;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modalintscroll-visible .modalintscroll {
  z-index: 200;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal-inner {
  max-width: 100%;
  max-height: 100vh;
}

.modalintscroll-inner {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: 100%;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-content {
  position: relative;
}

.modalintscroll-content {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modalintscroll-content .overflow-flex-column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
}

.modalintscroll-content .scroll-content {
  overflow-y: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.modal-close {
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-close :active,
.modal-close :hover,
.modal-close :focus {
  outline: 0;
  outline-offset: 0;
}

.login-section-container {
  position: relative;
  background-color: #e6e6e6;
}

.login-section-container .login-info-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 42px 15px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-section-container .login-img-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  position: relative;
}

.login-section-container .login-img-container .login-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.login-section-container .login-img-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ee1d47), to(#10266d));
  background-image: linear-gradient(to top, #ee1d47, #10266d);
}

.login-section-container .logo-login-container {
  width: 171px;
  height: 66px;
  margin: 0 auto 44px;
}

.login-section-container .logo-login-container .logo-login-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.login-section-container .inner-login-container {
  max-width: 358px;
  margin: 0 auto;
}

.login-section-container .or-text {
  display: block;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 18px;
}

.login-section-container .login-form {
  margin-bottom: 18px;
}

.login-section-container .input-group {
  margin-bottom: 30px;
}

.login-section-container .input-control {
  background-color: transparent;
  outline: 0;
  outline-offset: 0;
  width: 100%;
  padding: 8px 0;
  border-width: 0 0 2px 0;
  border-color: #9b9b9b;
  border-style: solid;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: #9b9b9b;
}

.login-section-container .input-control :active,
.login-section-container .input-control :hover,
.login-section-container .input-control :focus {
  outline: 0;
  outline-offset: 0;
}

.login-section-container .forgot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.login-section-container .forget-p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #6c585c;
}

.login-section-container .sign-text {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #6c585c;
}

.login-section-container .sign-link {
  font-weight: 700;
  color: #bc1d47;
}

.modal-agreement-container {
  max-width: 1000px;
  background-color: #f7f7f7;
  padding: 67px 57px 43px;
}

.modal-agreement-container .modal-title {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.7px;
  color: #6d1028;
  text-align: center;
  margin-bottom: 26px;
}

.modal-agreement-container .modal-text {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.45px;
  text-align: justify;
  color: #6c585c;
  margin-bottom: 45px;
}

.modal-agreement-container .modal-text p:not(:last-child) {
  margin-bottom: 45px;
}

.modal-agreement-container .modal-agr-btn {
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 365px;
  height: 53px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.45px;
  color: #fff;
  background-color: #bc1d47;
}

.modal-agreement-container .modal-agr-btn :active,
.modal-agreement-container .modal-agr-btn :hover,
.modal-agreement-container .modal-agr-btn :focus {
  outline: 0;
  outline-offset: 0;
}

.modal-agreement-container .modal-agr-btn:link,
.modal-agreement-container .modal-agr-btn:visited {
  color: #fff;
}

.modal-agreement-container .modal-agr-btn:hover,
.modal-agreement-container .modal-agr-btn:active,
.modal-agreement-container .modal-agr-btn:focus {
  color: #fff;
}

.modal-agreement-container .modal-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-completed-container {
  max-width: 600px;
  background-color: #f7f7f7;
  padding: 64px 29px 50px;
}

.modal-completed-container .modal-title {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.7px;
  color: #6d1028;
  text-align: center;
  margin-bottom: 17px;
}

.modal-completed-container .warning-text {
  max-width: 90%;
  margin: 0 auto 37px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.45px;
  text-align: center;
  color: #ee1d47;
}

.modal-completed-container .modal-text {
  max-width: 82%;
  margin: 0 auto 29px;
  font-family: "Nunito", sans-serif;
  font-size: 17.5px;
  line-height: 1.6;
  text-align: justify;
  color: #6c585c;
}

.modal-completed-container .modal-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-completed-container .modal-50-btn {
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 53px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.45px;
  color: #fff;
}

.modal-completed-container .modal-50-btn :active,
.modal-completed-container .modal-50-btn :hover,
.modal-completed-container .modal-50-btn :focus {
  outline: 0;
  outline-offset: 0;
}

.modal-completed-container .modal-50-btn:link,
.modal-completed-container .modal-50-btn:visited {
  color: #fff;
}

.modal-completed-container .modal-50-btn:hover,
.modal-completed-container .modal-50-btn:active,
.modal-completed-container .modal-50-btn:focus {
  color: #fff;
}

.modal-completed-container .modal-50-btn.red-btn {
  background-color: #bc1d47;
}

.modal-completed-container .modal-50-btn.gray-btn {
  background-color: #b9b9b9;
}

.mslider-section {
  background-color: #d3d3d3;
}

.mslider-section-container {
  position: relative;
  padding: 0;
}

.mslide-container {
  min-height: 142px;
  padding: 33px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mslide-container .slide-text {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.service-section {
  background-color: #fafafa;
}

.service-section-container {
  padding: 15px 35px 0;
}

.service-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -22px -5px;
  padding: 0;
  list-style: none;
}

.service-item {
  padding: 0 22px;
  margin-bottom: 14px;
}

.service-item-container .service-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 13px;
  width: 61px;
  height: 60px;
  border-radius: 15px;
  background-image: linear-gradient(315deg, #d10085, #ff99f3);
}

.premium .service-item-container .service-icon-box {
  background-image: linear-gradient(315deg, #00b1e4, #99fbff);
}

.service-item-container .service-icon {
  fill: url("#svg-gradient1") #ffa0eb;
}

.service-item-container .service-icon.s1 {
  width: 67%;
}

.service-item-container .service-icon.s2 {
  width: 65%;
}

.service-item-container .service-icon.s3 {
  width: 62%;
}

.service-item-container .service-icon.s4 {
  width: 68%;
}

.service-item-container .service-icon.s5 {
  width: 62%;
}

.service-item-container .service-icon.s6 {
  width: 76%;
}

.service-item-container .service-icon.s7 {
  width: 67%;
}

.service-item-container .service-icon.s8 {
  width: 64%;
}

.service-item-container .service-icon.s9 {
  width: 62%;
}

.service-item-container .service-icon.s10 {
  width: 66%;
}

.service-item-container .service-icon.s11 {
  width: 80%;
}

.service-item-container .service-icon.s12 {
  width: 63%;
}

.premium .service-item-container .service-icon {
  fill: url("#svg-gradient1-prem") #8df6fd;
}

.service-item-container .service-item-text-box {
  position: relative;
  width: 100%;
  height: 16px;
}

.service-item-container .service-item-text {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #d10085;
}

.premium .service-item-container .service-item-text {
  color: #0db7e7;
}

.service-item-container:hover .service-icon-box {
  -webkit-box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.28);
  box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.28);
  background-image: linear-gradient(315deg, #ff99f3, #ffecf8);
}

.premium .service-item-container:hover .service-icon-box {
  background-image: linear-gradient(315deg, #4488ff, #bbeeff);
  -webkit-box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.28);
  box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.28);
}

.service-item-container:hover .service-icon {
  fill: url("#svg-gradient1-hover") #ffa0eb;
}

.premium .service-item-container:hover .service-icon {
  fill: url("#svg-gradient1-prem-hover") #8df6fd;
}

.service-item-container:hover .service-item-text {
  color: #a6016a;
}

.premium .service-item-container:hover .service-item-text {
  color: #0aa7f5;
}

.select-section {
  background-color: #f5f5f5;
}

.select-section .select-section-container {
  padding: 24px 8px 5px;
}

.select-section .select-title {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: center;
  color: #8600d0;
}

.select-section .select-text {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #a591b2;
  max-width: 850px;
  margin: 0 auto 9px;
}

.select-section .select-text .accent {
  font-weight: 700;
  letter-spacing: 0.21px;
  color: #8600d0;
  font-size: 16px;
  line-height: 1.13;
}

.select-section .select-grid {
  padding: 0;
  margin: 0 -3px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.select-section .select-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 3px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.select-section .s-item-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2.9px 0.1px rgba(36, 36, 36, 0.4);
  box-shadow: 0 0 2.9px 0.1px rgba(36, 36, 36, 0.4);
  padding: 5px;
  background-color: #ffffff;
}

.select-section .s-item-img-box {
  position: relative;
  padding-bottom: 54%;
  border-radius: 5px;
  background-color: #d10085;
  overflow: hidden;
  margin-bottom: 8px;
}

.select-section .s-item-img-box .s-l-badge {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 5px 3px 3px 3px;
  padding: 3px 3px 3px 4px;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-section .s-item-img-box .s-l-badge .s-badge-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
}

.select-section .s-item-img-box .s-l-badge .s-badge-t {
  font-family: "Nunito", sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.select-section .s-item-img-box .s-l-badge.online .s-badge-dot {
  background-color: #0cff00;
}

.select-section .s-item-img-box .s-l-badge.online .s-badge-t {
  color: #0cff00;
}

.select-section .s-item-img-box .s-l-badge.offline .s-badge-dot {
  background-color: #ff0c00;
}

.select-section .s-item-img-box .s-l-badge.offline .s-badge-t {
  color: #ff0c00;
}

.select-section .s-item-img-box .s-yeni-badge {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 3px;
  right: 3px;
  background: url("../img/badge1.png") 50% 50% no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-section .s-item-img-box .s-yeni-badge .s-badge-t {
  font-family: "Nunito", sans-serif;
  font-size: 7.5px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.select-section .s-item-img-box .s-prem-badge {
  padding: 4px 3px;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #8600d0;
  border-radius: 3px 5px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-section .s-item-img-box .s-prem-badge .s-prem-icon {
  width: 11px;
  height: 11px;
  margin-right: 3px;
}

.select-section .s-item-img-box .s-prem-badge .s-badge-t {
  font-family: "Nunito", sans-serif;
  font-size: 7.5px;
  font-weight: 700;
  color: #ffffff;
}

.select-section .s-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: center center;
  object-position: center center;
  -o-object-fit: cover;
  object-fit: cover;
}

.select-section .s-item-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.select-section .s-item-title {
  font-family: "Lobster", cursive;
  font-size: 21px;
  font-weight: 400;
  color: #d10085;
  margin-bottom: 1px;
}

.select-section .s-item-text-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.select-section .s-item-text {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #776881;
  margin-bottom: 8px;
}

.select-section .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6px;
}

.select-section .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
}

.select-section .comment-container .comment-icon {
  margin-right: 6px;
  width: 17px;
  height: 17px;
}

.select-section .comment-container .comment-t {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #a591b2;
}

.select-section .comment-container .comment-t .t1 {
  font-weight: 700;
}

.select-section .comment-container .comment-t .t2 {
  font-weight: 600;
}

.select-section .like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-section .like-container .like-icon {
  margin-right: 6px;
  width: 20px;
  height: 20px;
}

.select-section .like-container .like-t {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a591b2;
}

.select-section .s-item-btn {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.select-section .s-item-btn .s-item-btn-container {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-section .s-item-btn .l-part {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-shadow: 0 0 2.9px 0.1px rgba(36, 36, 36, 0.4);
  box-shadow: 0 0 2.9px 0.1px rgba(36, 36, 36, 0.4);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  padding: 5px;
  background-color: #4ad100;
}

.select-section .s-item-btn .r-part {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  padding: 8px;
  -webkit-box-shadow: 0 0 2.9px 0.1px rgba(36, 36, 36, 0.4);
  box-shadow: 0 0 2.9px 0.1px rgba(36, 36, 36, 0.4);
  background-color: #379b00;
}

.select-section .s-item-btn .r-part .r-text {
  font-size: 13px;
  font-weight: 800;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.select-section .s-item-btn .r-part .r-number {
  font-size: 9px;
  font-weight: 700;
  letter-spacing: -0.14px;
  color: #f4e2ff;
}

.select-section .s-item-btn:hover .l-part {
  background-color: #03FF03;
}

.select-section .s-item-btn:hover .r-part {
  background-color: #03C103;
}

.invite-section {
  background-color: #ff4dc2;
}

.invite-section .invite-section-container {
  padding: 10px 15px 8px;
  text-align: center;
}

.invite-section .invite-text {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 auto 7px;
  max-width: 210px;
}

.invite-section .invite-text .accent {
  font-weight: 800;
}

.invite-section .invite-btn {
  width: 100%;
}

.testimonial-section {
  background-color: #fafafa;
}

.testimonial-section-container {
  padding: 9px 15px 4px;
}

.testimonial-title {
  font-family: "Lobster", cursive;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #8600d0;
  margin-bottom: 5px;
}

.testimonial-text {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #a591b2;
  margin-bottom: 0;
}

.testi-container {
  min-height: 146px;
  padding: 10px 15px 10px 25px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testi-container .testi-box {
  padding: 13px 15px 13px;
  max-width: 926px;
  border-radius: 0 10px 10px 10px;
  -webkit-box-shadow: 0 0 8px 0.2px rgba(36, 36, 36, 0.2);
  box-shadow: 0 0 8px 0.2px rgba(36, 36, 36, 0.2);
  background-color: #ffffff;
  position: relative;
}

.testi-container .testi-box:after {
  content: '';
  position: absolute;
  top: -14px;
  left: -32px;
  width: 50px;
  height: 50px;
  background: url("../img/testi-appendix.png") 50% 50% no-repeat;
}

.testi-container .testi-rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.testi-container .testi-rating-container .jq-star {
  width: 17px;
  height: 17px;
}

.testi-container .testi-rating-container .jq-star:not(:last-child) {
  margin-right: 4px;
}

.testi-container .testi-text {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #776881;
  max-width: 600px;
  margin: 0 auto 10px;
}

.testi-container .testi-data {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 9px;
  color: #a591b2;
  line-height: 1.61;
}

.testimonial-section .slick-prev,
.testimonial-section .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 35px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.testimonial-section .slick-prev:hover,
.testimonial-section .slick-prev:focus,
.testimonial-section .slick-next:hover,
.testimonial-section .slick-next:focus {
  color: transparent;
  outline: none;
  background: #transparent;
}

.testimonial-section .slick-prev:hover:before,
.testimonial-section .slick-prev:focus:before,
.testimonial-section .slick-next:hover:before,
.testimonial-section .slick-next:focus:before {
  opacity: 1;
}

.testimonial-section .slick-prev.slick-disabled:before,
.testimonial-section .slick-next.slick-disabled:before {
  opacity: .25;
}

.testimonial-section .slick-prev:before,
.testimonial-section .slick-next:before {
  opacity: 1;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial-section .slick-prev {
  left: -5px;
}

.testimonial-section .slick-prev:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/arrow-left.png") no-repeat 50% 50%/contain;
}

.testimonial-section .slick-next {
  right: -5px;
}

.testimonial-section .slick-next:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/arrow-right.png") no-repeat 50% 50%/contain;
}

.advantage-section {
  background-color: #F4F4F4;
}

.advantage-section-container {
  padding: 10px 41px 15px;
}

.advantage-section-title {
  font-family: "Lobster", cursive;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.6px;
  text-align: center;
  color: #d10085;
  margin-bottom: 14px;
}

.advantage-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(89px, 1fr));
  grid-gap: 20px 0;
  margin: 0 -28px 20px;
  padding: 0;
  list-style: none;
}

.advantage-item {
  padding: 0;
  width: 89px;
}

.advantage-item-container .advantage-icon-box {
  margin: 0 auto 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 13px;
  width: 61px;
  height: 61px;
  border-radius: 20px;
  background-image: linear-gradient(315deg, #8500d1, #ff99f3);
}

.advantage-item-container .advantage-icon {
  fill: url("#adv-svg-gradient") #ffa0eb;
}

.advantage-item-container .advantage-icon.s1 {
  width: 67%;
}

.advantage-item-container .advantage-icon.s2 {
  width: 65%;
}

.advantage-item-container .advantage-icon.s3 {
  width: 62%;
}

.advantage-item-container .advantage-icon.s4 {
  width: 68%;
}

.advantage-item-container .advantage-icon.s5 {
  width: 62%;
}

.advantage-item-container .advantage-icon.s6 {
  width: 76%;
}

.advantage-item-container .advantage-item-text-box {
  text-align: center;
}

.advantage-item-container .advantage-item-text {
  font-family: "Nunito", sans-serif;
  color: #8500d1;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.35px;
}

.advantage-item-container .advantage-item-text .accent {
  font-weight: 800;
}

.advantage-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.27;
  text-align: left;
  color: #a591b2;
}

.advantage-list .accent {
  font-weight: 800;
}

.advantage-list .adv-t-item {
  position: relative;
}

.advantage-list .star-img {
  position: absolute;
  left: -20px;
  top: 2px;
  width: 16px;
  height: 14px;
}

@media (min-width: 576px) {
  .select-section .select-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (min-width: 768px) {
  .invite-btn {
    min-height: 68px;
    border-radius: 10px;
    font-size: 36px;
  }

  .mslide-container {
    padding: 80px 15px;
    min-height: 357px;
  }

  .mslide-container .slide-text {
    font-size: 83.5px;
  }

  .service-section-container {
    padding: 20px 152px 0;
  }

  .service-grid {
    margin: 0 -35px -5px;
  }

  .service-item {
    padding: 0 35px;
    margin-bottom: 25px;
  }

  .service-item-container .service-icon-box {
    width: 91px;
    height: 91px;
    border-radius: 30px;
  }

  .service-item-container .service-item-text-box {
    height: 26px;
  }

  .service-item-container .service-item-text {
    font-size: 21px;
  }

  .select-section .select-section-container {
    padding: 24px 40px 5px;
  }

  .select-section .select-title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .select-section .select-text {
    font-size: 21px;
    margin: 0 auto 20px;
  }

  .select-section .select-text .accent {
    font-size: 21px;
    line-height: 1.43;
  }

  .select-section .select-grid {
    margin: 0 -12px 0;
  }

  .select-section .select-item {
    padding: 0 12px;
    margin-bottom: 15px;
  }

  .select-section .s-item-container {
    max-width: 260px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.4);
    box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.4);
  }

  .select-section .s-item-img-box {
    border-radius: 10px;
    margin-bottom: 11px;
  }

  .select-section .s-item-img-box .s-l-badge {
    border-radius: 10px 5px 5px 5px;
    padding: 7px 7px 7px 8px;
  }

  .select-section .s-item-img-box .s-l-badge .s-badge-dot {
    width: 8px;
    height: 8px;
    margin-right: 6px;
  }

  .select-section .s-item-img-box .s-l-badge .s-badge-t {
    font-size: 14px;
  }

  .select-section .s-item-img-box .s-yeni-badge {
    width: 38px;
    height: 38px;
  }

  .select-section .s-item-img-box .s-yeni-badge .s-badge-t {
    font-size: 11px;
  }

  .select-section .s-item-img-box .s-prem-badge {
    padding: 7px 5px;
    border-radius: 5px 10px 5px 5px;
  }

  .select-section .s-item-img-box .s-prem-badge .s-prem-icon {
    width: 16px;
    height: 16px;
  }

  .select-section .s-item-img-box .s-prem-badge .s-badge-t {
    font-size: 12px;
  }

  .select-section .s-item-title {
    margin-bottom: 5px;
  }

  .select-section .s-item-text {
    margin-bottom: 7px;
  }

  .select-section .comment-container {
    margin-right: 20px;
  }

  .select-section .comment-container .comment-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }

  .select-section .comment-container .comment-t {
    font-size: 14px;
  }

  .select-section .like-container .like-icon {
    margin-right: 10px;
    width: 28px;
    height: 28px;
  }

  .select-section .like-container .like-t {
    font-size: 12px;
  }

  .select-section .s-item-btn .l-part {
    -webkit-box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.4);
    box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    background-color: #03CE03;
  }

  .select-section .s-item-btn .r-part {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.4);
    box-shadow: 0 0 5.8px 0.2px rgba(36, 36, 36, 0.4);
    background-color: #039403;
  }

  .select-section .s-item-btn .r-part .r-text {
    font-size: 19.5px;
  }

  .select-section .s-item-btn .r-part .r-number {
    font-size: 14px;
  }

  .invite-section .invite-section-container {
    padding: 20px 15px 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .invite-section .invite-text {
    font-size: 36px;
    max-width: unset;
    margin: 0 20px 0 0;
  }

  .invite-section .invite-btn {
    width: unset;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .testimonial-section-container {
    padding: 24px 15px 15px;
  }

  .testimonial-title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .testimonial-text {
    font-size: 21px;
    margin-bottom: 9px;
  }

  .testi-container {
    min-height: 188px;
  }

  .testi-container .testi-box {
    padding: 17px 15px 18px;
  }

  .testi-container .testi-rating-container {
    margin-bottom: 13px;
  }

  .testi-container .testi-rating-container .jq-star {
    width: 27px;
    height: 27px;
  }

  .testi-container .testi-rating-container .jq-star:not(:last-child) {
    margin-right: 8px;
  }

  .testi-container .testi-text {
    font-size: 21px;
  }

  .testi-container .testi-data {
    font-size: 16px;
    line-height: 1.88;
  }

  .advantage-section-container {
    padding: 23px 89px 19px;
  }

  .advantage-section-title {
    font-size: 32px;
    letter-spacing: -0.8px;
  }

  .advantage-grid {
    margin: 0 -31px 33px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 8px 0;
  }

  .advantage-item {
    padding: 0 8px;
    width: 180px;
  }

  .advantage-item-container .advantage-icon-box {
    margin: 0 auto 11px;
    width: 119px;
    height: 119px;
    border-radius: 40px;
  }

  .advantage-item-container .advantage-item-text {
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .advantage-list {
    font-size: 21px;
    line-height: 1.43;
  }

  .advantage-list .star-img {
    left: -25px;
    top: 4px;
    width: 20px;
    height: 18px;
  }
}

@media (min-width: 992px) {
  .select-section .select-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-top: 75px;
  }

  .header .header-container {
    min-height: 75px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
  }

  .header .logo-container {
    width: 170px;
    height: 65px;
  }

  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .user-img-container {
    width: 31px;
    height: 40px;
  }

  .hamb-btn {
    display: none;
  }

  .user-xs-img-container {
    display: none;
  }

  .xs-nav.open {
    display: none;
  }

  .login-section-container {
    width: 1200px;
  }

  .login-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 673px;
  }

  .select-section .select-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }
}

@media screen and (min-width: 0) and (max-width: 575px) {
  .login-section-container .sign-link {
    display: block;
  }
}