/*=======================================================
  #breakpoints mixin
=========================================================*/

/* =================================EXAMPLE=====================*/

/* ===============================mobile-first==================*/

/* ==================================only========================*/

/* ===============================large-first======================*/

/*=========================================================
  #outline $ outline-offset
=========================================================*/

/* =================================EXAMPLE=====================*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  background-color: #fff;
}

a {
  cursor: pointer;
  color: #000000;
}

a:hover,
a:focus {
  color: #1a1a1a;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

textarea {
  resize: vertical;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}

h4 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

h5 {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
}

h6 {
  margin: 0;
  font-weight: 600;
  font-size: 10px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  cursor: pointer;
}

a :active,
a :hover,
a :focus,
a:link :active,
a:link :hover,
a:link :focus,
a:visited :active,
a:visited :hover,
a:visited :focus,
a:focus :active,
a:focus :hover,
a:focus :focus,
a:hover :active,
a:hover :hover,
a:hover :focus,
a:active :active,
a:active :hover,
a:active :focus {
  outline: 0;
  outline-offset: 0;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}

.submit-button {
  outline: 0;
  outline-offset: 0;
  border: none;
  cursor: pointer;
  height: 41px;
  background-color: #079d70;
  padding: 0 52px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submit-button :active,
.submit-button :hover,
.submit-button :focus {
  outline: 0;
  outline-offset: 0;
}

.submit-button:hover,
.submit-button:active,
.submit-button:focus,
.submit-button:active:hover {
  color: #ffffff;
}

.hero-btn {
  outline: 0;
  outline-offset: 0;
  border: none;
  background-color: #ff7800;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  padding: 0 12.8vw;
  min-height: 11.47vw;
  border-radius: 5.7vw;
  font-size: 4.27vw;
}

.hero-btn :active,
.hero-btn :hover,
.hero-btn :focus {
  outline: 0;
  outline-offset: 0;
}

.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus,
.hero-btn:active:hover {
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.slim {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

/*=========================================================
   #PADDING & MARGIN
=========================================================*/

/*=======================================================================================*/

/*======================================ALL SCREEN=======================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*======================================SMALL-DOWN=======================================*/

/*=======================================================================================*/

.main {
  position: relative;
}

.main:after {
  opacity: 0;
  z-index: -100;
  transition: opacity 2s ease 0.5s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.main.is-darken:after {
  opacity: 1;
  z-index: 100;
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
}

.header .header-container {
  padding: 45px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo-container {
  width: 331px;
  max-width: 100%;
}

.header .header-logo {
  width: 100%;
}

.footer {
  background: url("../img/abstract.jpg") no-repeat 50% 38%/cover;
  position: relative;
}

.footer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.82;
  background-image: linear-gradient(122deg, #079d70, #064a5f);
}

.footer .footer-container {
  position: relative;
  padding: 15px 10px 8px;
}

.footer .footer-top {
  margin-bottom: 12px;
}

.footer .social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .social-item {
  list-style: none;
  margin-bottom: 8px;
}

.footer .social-item:not(:last-child) {
  padding-right: 20px;
}

.footer .social-link {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.footer .footer-t-l-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  display: inline-block;
  line-height: 1.17;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.footer .footer-t-r {
  font-family: "Titillium Web", sans-serif;
  flex: 0 1 420px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.footer .footer-partners {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .partners-img-container {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .partners-img-container img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.footer .footer-license-text {
  display: block;
  text-align: center;
  line-height: 1;
}

.footer .footer-ssl-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-ssl-img-container {
  flex: 0 0 32px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-ssl-img-container img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.footer .footer-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 9px;
  margin-bottom: 5px;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-bottom-text {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 9px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.hero-section {
  padding: 2.67vw 0 0;
  background: url(../img/hero1-bg.jpg) no-repeat 50% 100%/135% auto;
}

.hero-section .logo-container {
  margin: 0 auto;
  width: 42.9vw;
  height: 4.8vw;
}

.hero-section .logo-container .logo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.hero-section .hero-section-container {
  display: flex;
}

.hero-section .img-container {
  width: 38%;
  position: relative;
}

.hero-section .img-dollar {
  position: absolute;
  background: url(../img/dollar-bg.png) no-repeat 100% 100%/105% auto;
  width: 100%;
  height: 100%;
}

.hero-section .content-container {
  text-align: center;
  width: 62%;
  padding: 2.13vw 0 1.6vw;
}

.hero-section .aw-container {
  margin-bottom: 2.13vw;
}

.hero-section .aw-img-container {
  width: 16.27vw;
  height: 10.13vw;
  margin: 0 1.07vw 0 0;
}

.hero-section .aw-img {
  width: 100%;
  height: 100%;
  -o-object-position: center center;
  object-position: center center;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-section .aw-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.8vw;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.08vw;
  text-align: left;
  color: #44555a;
  text-align: left;
  max-width: 28vw;
}

.hero-section .hero-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 1.08;
  color: #2c343f;
  text-shadow: 0.31vw 0.31vw 0.83vw rgba(0, 0, 0, 0.4);
  font-size: 6.67vw;
  margin-bottom: 1.87vw;
}

.hero-section .hero-title .t2 {
  color: #0ade0f;
}

.hero-section .btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.33vw;
}

.hero-section .hero-t {
  text-shadow: 0.56vw 0.56vw 1.7vw #0a1739;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.4vw;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
}

.form-section {
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 200;
}

.form-section .input-control {
  outline: 0;
  outline-offset: 0;
  width: 100%;
  height: 43px;
  padding: 0 20px;
  background-color: transparent;
  border: solid 1px #9faaae;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #545454;
}

.form-section .input-control :active,
.form-section .input-control :hover,
.form-section .input-control :focus {
  outline: 0;
  outline-offset: 0;
}

.form-section .input-control.invalid {
  border: solid 2px #db6363;
}

.form-section input::-webkit-input-placeholder {
  color: #545454 !important;
}

.form-section input:-moz-placeholder {
  /* Firefox 18- */
  color: #545454 !important;
}

.form-section input::-moz-placeholder {
  /* Firefox 19+ */
  color: #545454 !important;
}

.form-section input:-ms-input-placeholder {
  color: #545454 !important;
}

.form-section input:-webkit-autofill,
.form-section textarea:-webkit-autofill,
.form-section select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #545454;
}

.form-section .label-checkbox {
  display: flex;
  align-items: center;
  min-height: 27px;
  position: relative;
  font-size: 11px;
  line-height: 18px;
  font-weight: 300;
  color: #2c343f;
  cursor: pointer;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
}

.form-section .label-checkbox:not(:last-child) {
  margin: 0 0 4px 0;
}

.form-section .label-checkbox .input {
  opacity: 0;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.form-section .label-checkbox .custom-checkbox {
  margin: 0 10px 0 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: solid 1px #9faaae;
  position: relative;
  background-color: transparent;
  flex-shrink: 0;
}

.form-section .label-checkbox .input:checked + .custom-checkbox:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9faaae;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.form-section .form-section-container {
  padding: 13px 38px 15px;
}

.form-section .inner-form-container {
  max-width: 450px;
  margin: 0 auto;
}

.form-section .title {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color: #03509f;
  text-align: center;
  margin-bottom: 13px;
}

.form-section .title .t1 {
  font-weight: 700;
}

.form-section .title .t2 {
  font-weight: 700;
  text-decoration: underline;
  color: #03509f;
}

.form-section .input-collection {
  display: flex;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

.form-section .input-collection .input-group {
  flex: 1 1 100%;
}

.form-section .input-collection .input-group:not(:last-child) {
  margin: 0 0 6px 0;
}

.form-section .checkbox-collection {
  flex: 1 1 100%;
  margin-bottom: 10px;
}

.form-section .cap-inp-but-collection {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-section .cap-inp-container {
  position: relative;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 16px 0;
  flex-wrap: nowrap;
}

.form-section .cap-inp-container .input-group {
  flex: 0 1 170px;
}

.form-section .cap-repoad-container {
  flex: 0 1 auto;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section .capcha {
  height: 63px;
  width: 135px;
  padding: 0;
}

.form-section .CaptchaTxtField {
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}

.form-section .capcode {
  font-size: 46px;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  letter-spacing: 1px;
  color: #ccc;
  font-weight: 300;
  font-style: italic;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.form-section .ReloadBtn {
  outline: 0;
  outline-offset: 0;
  background: url("../img/captcha-update.png") center center no-repeat/contain;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.form-section .ReloadBtn :active,
.form-section .ReloadBtn :hover,
.form-section .ReloadBtn :focus {
  outline: 0;
  outline-offset: 0;
}

.form-section .error {
  color: red;
  font-size: 12px;
  display: none;
  position: absolute;
  top: 100%;
  padding: 1px 5px;
}

.form-section .success {
  color: #0f0;
  font-size: 14px;
  display: none;
  position: absolute;
  top: 100%;
  padding: 1px 5px;
}

.blue-bg {
  background: #060330;
}

.blue-bg .blue-bg-container {
  position: relative;
  z-index: 1;
}

.blue-bg .blue-bg-container:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1023px;
  left: 0;
  bottom: 0;
  background: url("../img/planet-bg.jpg") 50% 100%/cover no-repeat;
}

.blue-bg .blue-bg-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 843px;
  left: 0;
  top: 0;
  background: url("../img/bg-dodge.jpg") 50% 0%/100% no-repeat;
}

.twinx-section .twinx-container.text-right {
  padding: 37px 10px 37px;
}

.twinx-section .twinx-container.text-left {
  padding: 0 10px 37px;
}

.twinx-section .img-part {
  position: relative;
}

.twinx-section .img {
  width: 78%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.twinx-section .text-part {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}

.twinx-section .x-img-container-xs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26vw;
  height: 26vw;
}

.twinx-section .x-img {
  width: 78%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.twinx-section .title {
  font-family: "Source Sans Pro", sans-serif;
  word-break: break-word;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.twinx-section .text {
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  line-height: 1.71;
  color: #f0f0f0;
}

.panelsx-section .panelsx-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 0 25px;
  padding: 0 50px 0;
}

.panelsx-section .panel-container {
  margin-bottom: 32px;
}

.panelsx-section .panel {
  padding: 10px 20px 25px;
  max-width: 371px;
  height: 100%;
  background: url("../img/conic-gradient-bg.jpg") 50% 50%/cover no-repeat;
}

.panelsx-section .panel-top {
  height: 75px;
  margin-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.panelsx-section .top-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.panelsx-section .sub-text {
  font-family: "Titillium Web", sans-serif;
  font-size: 19px;
  right: 34px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.panelsx-section .top-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45.5px;
  font-weight: 600;
  line-height: 1.01;
  text-align: center;
  color: #000000;
}

.panelsx-section .panel-text {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.62;
  text-align: center;
  color: #010101;
}

.testimonials-section {
  position: relative;
}

.tst-slide-container {
  display: flex;
  position: relative;
}

.tst-slide-container .tst-img-part img {
  max-width: 100%;
  max-height: 100%;
}

.tst-slide-container .tst-img-part.h-100-right-center img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right center;
  object-position: right center;
}

.tst-slide-container .tst-img-part.h-100-right-bottom img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right bottom;
  object-position: right bottom;
}

.tst-slide-container .tst-img-part.h-100-center-center img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.tst-slide-container .tst-img-part.h-100-center-bottom img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center bottom;
  object-position: center bottom;
}

.tst-slide-container .tst-img-part.h-100-left-center img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left center;
  object-position: left center;
}

.tst-slide-container .tst-img-part.h-100-left-bottom img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left bottom;
  object-position: left bottom;
}

.tst-slide-container .tst-text-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tst-slide-container .tst-text-container {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tst-slide-container .tst-item-text {
  text-align: justify;
}

.tst-slide-container .tst-item-author {
  text-align: center;
}

.tst-slide-container .stars-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 1.875vw;
}

.tst-slide-container .stars-container .star {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/star.png);
}

.tst-slide-container .stars-container .star:not(:last-child) {
  margin-right: 5px;
}

.tst-slide-container .stars-container.one-star .star:nth-child(-n+1) {
  background-image: url(../img/starOk.png);
}

.tst-slide-container .stars-container.two-star .star:nth-child(-n+2) {
  background-image: url(../img/starOk.png);
}

.tst-slide-container .stars-container.three-star .star:nth-child(-n+3) {
  background-image: url(../img/starOk.png);
}

.tst-slide-container .stars-container.four-star .star:nth-child(-n+4) {
  background-image: url(../img/starOk.png);
}

.tst-slide-container .stars-container.five-star .star:nth-child(-n+5) {
  background-image: url(../img/starOk.png);
}

.testimonials-slider .slick-slide {
  outline: 0;
  outline-offset: 0;
}

.testimonials-slider .slick-slide :active,
.testimonials-slider .slick-slide :hover,
.testimonials-slider .slick-slide :focus {
  outline: 0;
  outline-offset: 0;
}

.testimonials-slider .slick-arrow {
  position: absolute;
  z-index: 100;
  -webkit-appearance: none;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 13px;
  height: 26px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border-width: 13px;
  border-style: solid;
  background-color: transparent;
  outline: 0;
  outline-offset: 0;
  opacity: 0.28;
  transition: opacity 0.8s ease;
}

.testimonials-slider .slick-arrow :active,
.testimonials-slider .slick-arrow :hover,
.testimonials-slider .slick-arrow :focus {
  outline: 0;
  outline-offset: 0;
}

.testimonials-slider .slick-arrow:hover {
  opacity: 1;
}

.testimonials-slider .slick-prev {
  border-color: transparent #000 transparent transparent;
  border-width: 13px 13px 13px 0;
}

.testimonials-slider .slick-next {
  border-color: transparent transparent transparent #000;
  border-width: 13px 0 13px 13px;
}

.operation-section {
  padding-top: 35px;
  position: relative;
}

.operation-section:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/mount-bg.jpg") no-repeat 50% 50%/cover, #c7c7c7;
  background-blend-mode: soft-light;
}

.operation-section .text-container {
  padding: 0 10px 16px;
}

.operation-section .title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-align: center;
  color: #064a5f;
}

.operation-section .text {
  font-family: "Titillium Web", sans-serif;
  font-size: 20.5px;
  font-weight: 300;
  line-height: 1.32;
  text-align: center;
  color: #4b4b4b;
  max-width: 650px;
  margin: 0 auto;
}

.operation-section .xbutton {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  min-height: 45px;
  line-height: 1.17;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.45);
  padding: 20px;
  white-space: nowrap;
  position: relative;
}

.operation-section .xbutton:after {
  content: '';
  opacity: .5;
  position: absolute;
  top: 0;
  left: -4px;
  border-left: 4px solid transparent;
  border-bottom: 7px solid #cfcfcf;
}

.operation-section .button-container {
  padding: 0 38px;
  position: relative;
  top: -7px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 9px;
  grid-column-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.operation-section .mountine-container {
  position: absolute;
  width: 100%;
  height: 273px;
  top: 0;
  left: 0;
}

.operation-section .green-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/triangles-green.png") repeat no-repeat 50% 0;
  opacity: 0.6;
}

.operation-section .dark-blue-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/triangles-blue.png") repeat no-repeat 50% 0;
}

.operation-section .stripe {
  position: relative;
  padding-top: 201px;
}

.operation-section .stripe-container {
  background-color: #e2e2e2;
  position: relative;
  min-height: 79px;
}

.twin-column-section {
  position: relative;
}

.twin-column-section:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/twin-bg.jpg") no-repeat 50% 50%/cover, #ececec;
  opacity: 0.5;
}

.twin-column-section .twin-column-container {
  padding: 30px 10px 65px;
}

.twin-column-section .column-badge .items-container {
  padding-left: 43px;
}

.twin-column-section .title {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #2c343f;
  margin-bottom: 40px;
}

.twin-column-section .item {
  min-height: 69px;
  max-width: 473px;
  background-image: linear-gradient(to top, #f7f7f7, #ffffff);
  box-shadow: 0 0 9.1px 0.9px rgba(0, 0, 0, 0.28);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.twin-column-section .item-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #2c343f;
  margin-bottom: 4px;
}

.twin-column-section .item-text {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  color: #565d67;
}

.twin-column-section .column-badge .item {
  padding: 9px 10px 9px 44px;
}

.twin-column-section .column-simple .item {
  padding: 9px 10px 9px 10px;
}

.twin-column-section .badge {
  position: absolute;
  width: 73px;
  height: 73px;
  left: 30px;
  top: 50%;
  transform: translate(-100%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(to top, #f7f7f7, #ffffff);
  box-shadow: 0 0 9.1px 0.9px rgba(0, 0, 0, 0.28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.twin-column-section .badge-img {
  width: 45%;
  height: 45%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

@media (min-width: 576px) {
  .panelsx-section .panel-container {
    padding: 0 10px;
  }

  .panelsx-section .panel {
    width: 371px;
    max-width: unset;
    padding: 40px 20px 40px;
  }
}

@media (min-width: 768px) {
  .header .header-container {
    padding: 45px 20px 0;
  }

  .form-section .form-section-container {
    padding: 13px 38px 15px;
  }

  .twinx-section .text-part {
    flex: 1 1 50%;
  }

  .twinx-section .title {
    font-size: 48px;
  }

  .twinx-section .text {
    font-size: 21px;
  }

  .panelsx-section .panelsx-grid {
    padding: 0 50px 0;
  }

  .testimonials-section {
    height: 430px;
  }

  .tst-slide-container .tst-img-part.right-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .tst-slide-container .tst-img-part.right-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .tst-slide-container .tst-img-part.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tst-slide-container .tst-img-part.center-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .testimonials-slider .slick-arrow {
    bottom: calc( 80% / 2);
  }

  .testimonials-slider .slick-prev {
    left: 7vw;
    transform: translate(-100%, 50%);
  }

  .testimonials-slider .slick-next {
    right: 7vw;
    transform: translate(100%, 50%);
  }

  .operation-section .text-container {
    padding: 0 20px 16px;
  }

  .operation-section .xbutton {
    font-size: 24px;
    min-height: 71px;
  }

  .operation-section .button-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .twin-column-section .items-container {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .form-section .cap-inp-but-collection {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .form-section .cap-inp-container {
    flex: 0 1 auto;
    justify-content: flex-end;
    margin: 0 28px 0 0;
  }

  .panelsx-section .panelsx-grid {
    justify-content: space-between;
  }

  .panelsx-section .panel-container {
    padding: 0;
  }

  .panelsx-section .panel {
    width: 25.76vw;
    padding: 2.2vw 2.2vw 1.8vw;
  }

  .panelsx-section .panel-top {
    height: 5.21vw;
    margin-bottom: 1.6vw;
  }

  .panelsx-section .sub-text {
    font-size: 1.32vw;
    right: 2.36vw;
  }

  .panelsx-section .top-text {
    font-size: 3.16vw;
  }

  .panelsx-section .panel-text {
    font-size: 1.46vw;
  }
}

@media (min-width: 1200px) {
  .submit-button {
    width: unset;
  }

  .hero-btn {
    padding: 0 4.03vw;
    min-height: 4.31vw;
    border-radius: 2.15vw;
    font-size: 2.08vw;
  }

  .header .header-container {
    padding: 45px 120px 0;
  }

  .footer .footer-container {
    padding: 28px 120px 8px;
  }

  .footer .footer-top {
    padding: 0 60px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer .footer-t-l {
    flex: 0 1 385px;
  }

  .footer .social-item:not(:last-child) {
    padding-right: 35px;
  }

  .footer .social-item {
    margin-bottom: 35px;
  }

  .footer .social-link {
    width: 32px;
    height: 32px;
  }

  .footer .footer-t-l-text {
    font-size: 18px;
    display: block;
    line-height: 1.39;
    letter-spacing: 0.5px;
  }

  .footer .footer-partners {
    margin-bottom: 13px;
  }

  .footer .partners-img-container {
    width: 200px;
    height: 46px;
  }

  .footer .partners-img-container:not(:last-child) {
    margin-right: 30px;
  }

  .footer .footer-license-text {
    margin-bottom: 50px;
  }

  .footer .footer-ssl-img-container {
    flex: 0 0 50px;
    margin-right: 30px;
  }

  .footer .footer-text {
    font-size: 14px;
    margin-bottom: 37px;
    line-height: 1.43;
  }

  .footer .footer-bottom-text {
    font-size: 18px;
  }

  .hero-section {
    padding: 2.29vw 0 0;
    background: url(../img/hero1-bg.jpg) no-repeat 53% 76%/108% auto;
  }

  .hero-section .logo-container {
    margin: 0 auto;
  }

  .hero-section .logo-container {
    width: 22.4vw;
    height: 2.5vw;
  }

  .hero-section .img-container {
    width: 48%;
  }

  .hero-section .img-dollar {
    background: url("../img/dollar-bg.png") no-repeat 50% 50%/contain;
    width: 66%;
    height: 123%;
    top: -10%;
    left: 17.6%;
  }

  .hero-section .content-container {
    width: 52%;
    padding: 2.43vw 0 2.5vw;
  }

  .hero-section .aw-container {
    margin-bottom: 0.8vw;
  }

  .hero-section .aw-img-container {
    width: 8.47vw;
    height: 5.21vw;
    margin: 0 auto 1.04vw;
  }

  .hero-section .aw-text {
    text-align: center;
    max-width: unset;
  }

  .hero-section .aw-text {
    font-size: 1.28vw;
    letter-spacing: 0.03vw;
  }

  .hero-section .hero-title {
    font-size: 4.17vw;
    margin-bottom: 1.39vw;
  }

  .hero-section .btn-container {
    margin-bottom: 0.97vw;
  }

  .hero-section .hero-t {
    font-size: 2.5vw;
    text-shadow: 0.24vw 0.24vw 0.83vw #0a1739;
  }

  .form-section .label-checkbox {
    font-size: 16px;
  }

  .form-section .label-checkbox:not(:last-child) {
    margin: 0 16px 0 0;
  }

  .form-section .label-checkbox .custom-checkbox {
    margin: 0 5px 0 0;
    height: 16px;
    width: 16px;
  }

  .form-section .form-section-container {
    padding: 14px 120px 11px;
  }

  .form-section .inner-form-container {
    max-width: 950px;
  }

  .form-section .title {
    font-size: 21px;
    line-height: 1.14;
    color: #064a5f;
    margin-bottom: 14px;
  }

  .form-section .title .t2 {
    color: #064a5f;
  }

  .form-section .input-collection {
    flex-wrap: nowrap;
  }

  .form-section .input-collection .input-group {
    flex: 1 1 auto;
  }

  .form-section .input-collection .input-group:not(:last-child) {
    margin: 0 21px 0 0;
  }

  .form-section .che-cap-but-box {
    display: flex;
    justify-content: space-between;
  }

  .form-section .checkbox-collection {
    flex: 1 1 auto;
    display: flex;
    margin-bottom: 0;
  }

  .twinx-section .twinx-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .twinx-section .twinx-container.text-right {
    padding: 0 120px 37px 0;
  }

  .twinx-section .twinx-container.text-right .img-part {
    order: 0;
  }

  .twinx-section .twinx-container.text-right .text-part {
    order: 1;
    padding: 100px 0 100px 17px;
  }

  .twinx-section .twinx-container.text-right .x-img-container {
    margin-left: auto;
  }

  .twinx-section .twinx-container.text-right .title {
    text-align: right;
  }

  .twinx-section .twinx-container.text-right .text {
    text-align: right;
  }

  .twinx-section .twinx-container.text-left {
    padding: 0 0 37px 120px;
  }

  .twinx-section .twinx-container.text-left .img-part {
    order: 1;
  }

  .twinx-section .twinx-container.text-left .text-part {
    order: 0;
    padding: 100px 17px 100px 0;
  }

  .twinx-section .twinx-container.text-left .x-img-container {
    margin-right: auto;
  }

  .twinx-section .twinx-container.text-left .title {
    text-align: left;
  }

  .twinx-section .twinx-container.text-left .text {
    text-align: left;
  }

  .twinx-section .img-part {
    flex: 1 1 57%;
  }

  .twinx-section .img {
    width: 100%;
  }

  .twinx-section .text-part {
    flex: 1 1 43%;
  }

  .twinx-section .x-img-container-xs {
    display: none;
  }

  .twinx-section .x-img-container {
    width: 21vw;
    height: 21vw;
    margin-bottom: 3.2vw;
  }

  .panelsx-section .panelsx-grid {
    padding: 0 120px 0;
    margin: 0 0 38px;
  }

  .testimonials-section {
    height: 605px;
  }

  .tst-slide-container {
    padding: 0 8.333vw;
    height: 605px;
  }

  .tst-slide-container .tst-img-part {
    flex: 1 0 50%;
    padding: 0 1.3888vw 0 3.8888vw;
  }

  .tst-slide-container .tst-text-part {
    flex: 1 1 50%;
    padding-right: 3.8888vw;
  }

  .tst-slide-container .tst-text-container {
    height: 70%;
    font-size: 1.4583vw;
    line-height: 1.52;
  }

  .tst-slide-container .stars-container .star {
    width: 1.1806vw;
    height: 1.1806vw;
  }

  .tst-slide-container .stars-container .star:not(:last-child) {
    margin-right: 0.4861vw;
  }

  .testimonials-slider .slick-arrow {
    bottom: calc( 70% / 2);
  }

  .testimonials-slider .slick-prev {
    left: 8.333vw;
  }

  .testimonials-slider .slick-next {
    right: 8.333vw;
  }

  .operation-section .text-container {
    padding: 0 120px 16px;
  }

  .operation-section .button-container {
    padding: 0 20px;
  }

  .operation-section .button-container {
    -ms-grid-columns: (auto)[6];
    grid-template-columns: repeat(6, auto);
    max-width: 1196px;
    margin: 0 auto;
  }

  .operation-section .green-bg {
    background: url("../img/triangles-green.png") repeat no-repeat 23% 0;
  }

  .operation-section .dark-blue-bg {
    background: url("../img/triangles-blue.png") repeat no-repeat 25% 0;
  }

  .twin-column-section .twin-column-container {
    padding: 30px 120px 65px;
    display: flex;
    justify-content: space-between;
  }

  .twin-column-section .column-badge {
    flex: 1 1 58%;
    padding-right: 5%;
  }

  .twin-column-section .column-badge .items-container {
    padding-left: 106px;
  }

  .twin-column-section .column-simple {
    flex: 1 1 42%;
  }

  .twin-column-section .items-container {
    width: unset;
    margin: 0;
    max-width: unset;
  }

  .twin-column-section .item {
    min-height: 127px;
  }

  .twin-column-section .item:not(:last-child) {
    margin-bottom: 48px;
  }

  .twin-column-section .item-title {
    font-size: 27px;
    margin-bottom: 11px;
  }

  .twin-column-section .item-text {
    font-size: 18px;
  }

  .twin-column-section .column-badge .item {
    padding: 19px 15px 19px 67px;
  }

  .twin-column-section .column-simple .item {
    padding: 19px 15px 19px 67px;
  }

  .twin-column-section .badge {
    width: 145px;
    height: 145px;
    left: 39px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

@media (min-width: 1920px) {
  .twinx-section .x-img-container {
    width: 403px;
    height: 403px;
    margin-bottom: 61px;
  }

  .panelsx-section .panel {
    width: 495px;
    padding: 42px 42px 35px;
  }

  .panelsx-section .panel-top {
    height: 100px;
    margin-bottom: 31px;
  }

  .panelsx-section .sub-text {
    font-size: 25px;
    right: 45px;
  }

  .panelsx-section .top-text {
    font-size: 61px;
  }

  .panelsx-section .panel-text {
    font-size: 28px;
  }

  .testimonials-section {
    height: 660px;
  }

  .tst-slide-container {
    padding: 0 120px;
    height: 660px;
  }

  .tst-slide-container .tst-img-part {
    padding: 0 20px 0 56px;
  }

  .tst-slide-container .tst-text-part {
    padding-right: 56px;
  }

  .tst-slide-container .tst-text-container {
    font-size: 21px;
  }

  .tst-slide-container .stars-container {
    margin: 0 0 27px;
  }

  .tst-slide-container .stars-container .star {
    width: 17px;
    height: 17px;
  }

  .tst-slide-container .stars-container .star:not(:last-child) {
    margin-right: 7px;
  }

  .testimonials-slider .slick-prev {
    left: 120px;
  }

  .testimonials-slider .slick-next {
    right: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .footer .footer-t-l {
    text-align: center;
  }

  .footer .partners-img-container:not(:last-child) {
    margin-right: 20px;
  }

  .footer .footer-license-text {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .footer .footer-ssl-container span {
    font-size: 12px;
    text-align: center;
  }

  .hero-section .aw-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-section .aw-text .t1 {
    display: block;
  }

  .twinx-section .twinx-container.text-right .x-img-container {
    margin-left: auto;
    margin-right: auto;
  }

  .twinx-section .twinx-container.text-left .x-img-container {
    margin-left: auto;
    margin-right: auto;
  }

  .twinx-section .x-img-container {
    display: none;
  }

  .twinx-section .title {
    padding: 0 32px;
  }

  .twinx-section .text {
    padding: 0 32px;
  }

  .twin-column-section .column-badge {
    margin-bottom: 81px;
  }

  .twin-column-section .column-badge .item-text {
    max-width: 250px;
  }

  .twin-column-section .column-badge .item:not(:last-child) {
    margin-bottom: 18px;
  }

  .twin-column-section .column-simple .item-title {
    text-align: center;
  }

  .twin-column-section .column-simple .item-text {
    text-align: center;
    max-width: 235px;
    margin: 0 auto;
  }

  .twin-column-section .column-simple .item:not(:last-child) {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 767px) {
  .testimonials-section {
    height: 70vw;
  }

  .tst-slide-container {
    height: 70vw;
    padding: 0 7vw;
  }

  .tst-slide-container .tst-img-part {
    padding: 0;
    position: absolute;
    z-index: 0;
    width: calc( ( 100% - ( 2 * 7vw ) ) * 0.4);
    height: 100%;
    opacity: 1;
  }

  .tst-slide-container .tst-text-part {
    flex: 0 1 65%;
    padding-right: 1vw;
    margin-left: auto;
    z-index: 1;
  }

  .tst-slide-container .tst-text-container {
    height: 100%;
    font-size: 3.2vw;
    line-height: 1.33;
  }

  .testimonials-slider .slick-arrow {
    bottom: calc( 100% / 2);
  }

  .testimonials-slider .slick-prev {
    left: 7vw;
    transform: translate(-100%, 50%);
  }

  .testimonials-slider .slick-next {
    right: 7vw;
    transform: translate(100%, 50%);
  }
}

@media screen and (max-width: 431px) {
  .panelsx-section .panel-top {
    height: 17.4vw;
    margin-bottom: 5.34vw;
  }

  .panelsx-section .sub-text {
    font-size: 4.41vw;
    right: 7.89vw;
  }

  .panelsx-section .top-text {
    font-size: 10.56vw;
  }

  .panelsx-section .panel-text {
    font-size: 4vw;
  }
}

@media screen and (min-width: 0) and (max-width: 575px) {
  .form-section .input-capcha {
    padding: 0 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .tst-slide-container {
    height: 430px;
    padding: 0 7vw;
  }

  .tst-slide-container .tst-img-part {
    padding: 0;
    position: absolute;
    z-index: 0;
    width: calc( ( 100% - ( 2 * 7vw ) ) * 0.5);
    height: 100%;
    opacity: 1;
  }

  .tst-slide-container .tst-text-part {
    flex: 0 1 65%;
    margin-left: auto;
    padding-right: 3vw;
    position: relative;
    z-index: 1;
  }

  .tst-slide-container .tst-text-container {
    height: 80%;
    font-size: 1.9vw;
    line-height: 1.52;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .tst-slide-container {
    height: 430px;
    padding: 0 7vw;
  }

  .tst-slide-container .tst-img-part {
    padding: 0;
    position: absolute;
    z-index: 0;
    width: calc( ( 100% - ( 2 * 7vw ) ) * 0.5);
    height: 100%;
    opacity: 1;
  }

  .tst-slide-container .tst-text-part {
    flex: 0 1 65%;
    margin-left: auto;
    padding-right: 3vw;
    position: relative;
    z-index: 1;
  }

  .tst-slide-container .tst-text-container {
    height: 80%;
    font-size: 1.9vw;
    line-height: 1.52;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .twin-column-section .twin-column-container {
    padding: 30px 30px 65px;
  }
}