.hero-section{
  overflow: hidden;
  //padding: 10px 0 0;
  padding: 5vw 0 0;
  //background: url(../img/gold-bg.jpg) no-repeat 50% 50% / cover;
  background: linear-gradient(-180deg, rgb(5,0,102) 43%, rgb(3,57,179) 76%, rgb(0,114,255) 85%, rgb(0,18,51) 100%);
  position: relative;
  &:before{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/lp-b-bg1.jpg) no-repeat 46% 100%/cover;
    opacity: 0.45;
    mix-blend-mode: screen; 
  }  
  // background: url(../img/lp-b-bg1.jpg) no-repeat 50% 100%/100% auto;
  @include breakpoint(xl){    
    //padding: 33px 0 0;
    padding: 2.29vw 0 0;      
    background: linear-gradient( 90deg, rgb(5,0,102) 11%, rgb(0,114,255) 58%, rgb(0,18,51) 100%);
    &:before{      
      background: url(../img/lp-b-bg1.jpg) no-repeat 50% 100%/100% auto;      
    }      
  }
  @include breakpoint(xxl){
    padding: 44px 0 0;
  }  
  .logo-section-container{
    padding: 0 5vw 0;
    @include breakpoint(xl){
      padding: 0 2vw 0;       
    } 
    @include breakpoint(xxl){
      padding: 0 38px 0;
    } 
  }
  .logo-container{ 
    //width: 161px;
    width: 51.8vw;
    //height: 18px;
    height: 5.6vw;   
    margin: 0 auto; 
    @include breakpoint(xl){  
      position: relative;
      margin: 0;    
      //width: 388px;
      width: 27vw;
      //height: 42px;
      height: 2.9vw;
    }
    @include breakpoint(xxl){
      width: 518px;      
      height: 56px;
    }
    .logo{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;    
    }
  }
  .hero-section-container{
    position: relative;
    padding: 0 6vw 0;
    @include breakpoint(xl){
      padding: 0 2vw 0;
      position: relative;
      display: flex; 
    } 
    @include breakpoint(xxl){
      padding: 0 38px 0;
    } 
  }  
  .content-container{
    // padding: 20px 0 15px; 
    padding: 5vw 0 0;
    @include breakpoint(xl){
      flex: 0 1 auto;
      width: 43%;   
      //padding: 65px 0 58px; 
      padding: 5vw 0 0 0;
    }
    @include breakpoint(xxl){
      padding: 96px 0 0 0;
    }  
  }
  .t1{    
    font-family: $third-font-family;
    font-size: 6.4vw;    
    font-weight: 600;    
    line-height: 1.3;    
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    .accent{
      font-weight: 800;
      color: #fff600;    
    }
    @include breakpoint(xl){
      font-size: 2.92vw;
      line-height: 1.27;
    }
    @include breakpoint(xxl){      
      font-size: 56px;
    } 
  }
  .t2{
    font-family: $third-font-family;
    font-size: 9.5vw;    
    font-weight: 600;    
    line-height: 1.16;    
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1vw;
    .accent{
      font-weight: 800;
      color: #fff600;    
    }
    @include breakpoint(xl){
      font-size: 4.1vw;
      line-height: 1.09;      
    }
    @include breakpoint(xxl){      
      font-size: 79px;      
      margin-bottom: 19px;
    }     
  }  
  .btn-container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    @include breakpoint(xxl){
      margin-bottom: 58px;
    }
  }
  .hero-btn{
    @include outline(0);  
    border: none;
    //width: 374px;
    
    background-color: #ffd200;
    
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    font-family: $third-font-family; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;  
    line-height: 1;  
    color: #ffffff;  
    text-align: center;  
    // padding: 0 22vw;  
    width: 100%;
    min-height: 18vw;
    border-radius: 8.9vw;
    font-size: 5.87vw;
    background-image: linear-gradient(0deg, rgb(255,54,0) 0%, rgb(255,120,0) 100%);
    position: relative;
    // z-index: 1;
    @include breakpoint(xl){
      width: unset;
      // padding: 0 58px;
      // min-height: 62px;
      // border-radius: 31px;
      // font-size: 30px;
      padding: 0 4.65vw;
      min-height: 7.64vw;
      border-radius: 3.8vw;
      font-size: 2.5vw;
    }
    @include breakpoint(xxl){
      padding: 0 89px;
      min-height: 147px;
      border-radius: 73px;
      font-size: 48px;
    }
    &:before{
      content:'';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 4%;
      left: 0.8%;
      background-image: linear-gradient( 0deg, rgb(193,41,0) 0%, rgb(202,95,0) 100%);        
      border-radius: 8.9vw; 
      @include breakpoint(xl){      
        border-radius: 3.8vw;
      } 
      @include breakpoint(xxl){                
        border-radius: 73px;        
      }
    }   
    &:hover, &:active, &:focus, &:active:hover{
      color: #ffffff;    
    }
  }
  .hero-img-container{
    width: 100%;     
    height: 85vw;   
    position: relative;     
    @include breakpoint(xl){   
      position: absolute;        
      width: 100vw;
      height: 48vw;
      top: -12%;
      left: 44.5%;
    }  
    @include breakpoint(xxl){      
      width: 1920px;
      height: 922px;
    }  
  }
  .hero-img-1-box{
    height: 103%;
    width: 100%;
    position: absolute;
    top: 51%;
    left: 51.5%;
    transform: translate(-50%,-50%);
    mask-image: url('../img/lp-b-mask-big.png');
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: contain;
    @include breakpoint(xl){
      height: 107%;
      width: 52%;      
      top: 50.5%;
      left: 25.5%;
    }
    .hero-img-1{
      width: 100%;
      height: 100%;
      object-fit: cover;                  
    }
  }
  .hero-img-2-box{
    height: 62%;
    width: 60%;
    position: absolute;
    top: 98.5%;
    left: 10%;
    transform: translate(-50%,-50%);
    mask-image: url('../img/lp-b-mask-big.png');
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: contain;
    @include breakpoint(xl){
      height: 95%;
      width: 46%;      
      top: 9.5%;
      left: 58.5%;
    }
    .hero-img-2{
      width: 100%;
      height: 100%;
      object-fit: contain;    
      object-position: 21% -3%;
      @include breakpoint(xl){
        object-fit: cover;
        object-position: 90% 50%; 
      }                
    }
  }
  .hero-img-3-box{
    height: 39%;
    width: 39%;
    position: absolute;
    top: 98.5%;
    left: 81.5%;
    transform: translate(-50%,-50%);
    mask-image: url('../img/lp-b-mask-sm.png');
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: contain;
    @include breakpoint(xl){
      height: 44%;
      width: 21%;      
      top: 101.5%;
      left: 41%;
    }
    .hero-img-3{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% -25%;                 
    }
  }
  .hero-img-4-box{
    height: 42%;
    width: 40%;
    position: absolute;
    top: 76%;
    left: 105%;
    transform: translate(-50%,-50%);
    mask-image: url('../img/lp-b-mask-sm.png');
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: contain;
    @include breakpoint(xl){
      height: 44%;
      width: 21%;      
      top: 76%;
      left: 53%;
    }
    .hero-img-4{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 70% 50%;                 
    }
  }
  
  
  .hero-soc-container{
    position: relative;
    z-index: 1;
    padding: 1vw 0 1.4vw;    
    @include breakpoint(xl){ 
      margin: 0;     
      padding: 1vw 0 1.4vw;        
    }
    @include breakpoint(xxl){      
      padding: 19px 0 27px; 
    }
  }
  .soc-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .soc-list-item{        
    margin: 0 10px; 
    &.xl-only{
      @include breakpoint(lg-down){
        display: none;
      }
    }     
  }
  .soc-list-link{
    display: flex;
    align-items: center;
  }
  .soc-img-box{
    flex: 0 0 auto;
    width: 6.5vw;
    height: 6.5vw;
    margin-right: 1.5vw;
    @include breakpoint(xl){ 
      width: 3.5vw;
      height: 3.5vw;
      margin-right: 1vw;
    }
    @include breakpoint(xxl){      
      width: 67px;
      height: 67px;
      margin-right: 19px; 
    }
  }
  .soc-img-text{
    font-family: $third-font-family;    
    font-size: 2.6vw;    
    font-weight: 500;    
    font-style: italic;
    line-height: 1.5;
    color: #d8ebff;
    @include breakpoint(xl){ 
      font-size: 1.39vw;
    }
    @include breakpoint(xxl){      
      font-size: 27px;
    }
  }
  .soc-item-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
